*::after, *::before, * {
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
}

.btn {
    padding: 1rem;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: white;
    box-shadow: 0 0 0 1px black;
    transition: background-color 150ms ease-in-out;
}

.btn:focus, .btn:hover {
    background-color: rgba(225, 225, 225, 1);
}

.img {
    width: 64px;
    height: 64px;
}